# Ignore all __pycache__ directories
__pycache__

# Ignore all logs directories
**/logs

# Ignore all backup directories
**/backup

# Do not include fonts into the package
**/fonts

# Do not include extractor tools into the package
**/tools
